<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">Backoffice</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="http://localhost:4200" target="_blank">Aplicatie Companie</a>
            </div>
        </div>
    </nav>
    <blockquote class="blockquote text-center">
        <p class="mb-0">Rezervarile mele</p>
    </blockquote>
    <div class="container">
        <div th:if="${not #lists.isEmpty(rezervari)}">
            <table class="table table-striped">
                <tr>
                    <th>Subiect</th>
                    <th>Data inceput</th>
                    <th>Data sfarsit</th>
                    <th>Sala de sedinte</th>
                </tr>
                <tr th:each="rezerv : ${rezervari}">
                    <td th:text="${rezerv.subject}"></td>
                    <td th:text="${rezerv.bookedFrom}"></td>
                    <td th:text="${rezerv.bookedUntil}"></td>
                    <td th:text="${rezerv.meetingRoom.name}"></td>
                </tr>
            </table>
            <form action="http://localhost:8080/login/google" method="get">
                <button class="btn btn-success" type="submit">Salvare Google Calendars</button>
            </form>
        </div>
        <div th:if="${#lists.isEmpty(rezervari)}">Nici o rezervare noua</div>
    </div>

</div>
</body>
</html>
